.size {
  width: 9448px;
  height:  6719px;
}

.canvas {
  composes: size;
  position: relative;
}

.img-layer {
  opacity: 0;
  composes: size;
}

.svg-layer {
  composes: size;
  position: absolute;
  top: 0;
  left: 0;

  :global(#tiananmen) {
    opacity: 1;
  }
}

.line {
  fill: none;
  opacity: 1;
}

.station {
  opacity: 1;
}

.station--circle {
  opacity: 1;
  fill: rgb(255, 255, 255);
  stroke: black;
  stroke-width: 4px;
}

.active--circle {
  fill: yellow;
  opacity: .7;
}

.station--text {
}

.exchange-station {
}
