.size {
  width: 9448px;
  height:  6719px;
}

.canvas {
  composes: size;
  position: relative;
}

.img-layer {
  /*opacity: .1;*/
  composes: size;
}

.svg-layer {
  composes: size;
  position: absolute;
  top: 0;
  left: 0;
}

.station--circle {
  /*fill: red;*/
  fill: rgb(255, 255, 255);
  stroke: black;
  stroke-width: 4px;
  opacity: .9;
}

.active--circle {
  fill: yellow;
  /*fill: none;
  stroke: black;
  stroke-width: 4px;*/
  opacity: .7;
}

.station--text {
  font-size: 24px;
}
