@import "../../styles/abstracts/variables.css";

.nav {
}

.menu {
  z-index: 1;
  margin-right: 1px;
}

.menu {
  &:global(.ant-menu-inline), &:global(.ant-menu-vertical) {
    border-right: 0;
  }
  :global(.ant-menu-item-selected, .ant-menu-selected) {
    border-right: 3px solid #108ee9;
    transform: translateZ(0);
    transition: border 0s ease;
  }

  :global(.ant-menu-item a) {
    display: inline-block;
  }
}
