.panel {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;

  form {
    position: absolute;
    top: 1em;
    left: 1em;
  }

  path {
    fill: none;
    fill-rule: evenodd;
    stroke: #333;
    stroke-dashoffset:1500;
    stroke-dasharray: 1500;
    animation: run 4s ease-in-out;
  }

  .gearing {
    stroke-width: 3px;
  }

  .logo {
    stroke:#504d4a;
  }

  text {
    stroke: #333;
    fill: none;
    stroke-width: 1px;
    stroke-dashoffset:1500;
    stroke-dasharray: 1500;
    animation: run 4s ease-in-out;
  }
}

.sun path {
  /*fill: #504d4a;*/
}

.planet path {
  fill: none;
  stroke: #504d4a;
}

.annulus path {
  /*fill: #c6dbef;*/
}

@keyframes run {
  to {
    stroke-dashoffset: 0;
  }
}
